:root {
  --primary-color: #34b238;
  --font-color: white;
  --background-color: rgb(40, 40, 40);
  --font-family: Arial, sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-family);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#rubrik {
  text-align: center;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#match-historik li {
  margin-top: 10px;
  border: white solid 1px;
}

#match-historik ul {
  flex-direction: column-reverse;
  display: flex;
}
