:root {
  --primary-color: #34b238;
  --font-color: white;
  --background-color: rgb(53, 53, 53);
  --spacing: 1.2rem;
  --font-family: Arial, sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-family);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing);
}

.header {
  background: rgb(23, 23, 23);
  padding: var(--spacing) 0;
  border-bottom: 1px solid var(--border);
  border-bottom: solid 2px var(--primary-color);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-rubrik {
  color: white;
  font-size: 1.25rem;
  outline: 2px var(--primary-color);
  text-shadow: 2px 2px 4px black;
}

.rubrik {
  text-align: center;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 4px black;
}

a {
  color: var(--font-color);
  text-decoration: none;
  text-shadow: 2px 2px 4px black;
}

a:hover {
  text-decoration: underline;
}

h2,
h3 {
  margin-left: 0.5rem;
}

h3 {
  text-decoration: underline;
}

#match-historik li {
  display: list-item;
  margin-top: 10px;
  border: 1px solid var(--background-color);
  padding: 0.75rem;
  border-radius: 5px;
  background-color: black;
  color: var(--font-color);
  list-style-position: outside;
  text-shadow: 2px 2px 4px black;
}

#match-historik li.match-correct {
  background-color: #2e7d32;
}

#match-historik li.match-incorrect {
  background-color: #b71c1c;
}

#match-historik ol {
  display: flex;
  flex-direction: column-reverse;
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 2.5rem;
}

.intro-text {
  text-align: center;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  height: auto;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#resultatchart {
  width: 90%;
  max-height: 400px;
  margin: 20px 0;
}
